@charset "UTF-8";
.author_info{cursor: pointer; padding-left: 34px; padding-right: 20px; padding-top: 21px; padding-bottom: 21px;}
.left_info{position: relative; width:10.30%; height: 115px; border-radius: 50%;border: solid 1px #f0f4f8; background: #cfddee;overflow: hidden; float: left;}
.left_info img{ width: 100%;min-height: 115px;position: absolute;}
.right_info{ position: relative; float: left; width:89.69%; padding-left: 32px;}
.right_info .linkedin{ position: absolute; right: 0; top: 0}

.right_info_blog p{font-family: 'roboto'; font-size: 16px; font-weight: 300; color: #314f74; line-height:24px; padding-right: 59px; }
.author_info{-webkit-box-shadow:0px 0px 12px -5px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.2);
box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.2);
}
/* ::ng-deep .right_info_blog p>p::after{content: '...'; width: 11px;} */
.author_wrapper{margin-top: 80px; margin-bottom: 80px;}
.blogs_by_author  h2{font-family: 'roboto'; font-size: 20px; font-weight: 400; color: #314f74; margin-top:0px; margin-bottom:25px;}
.left_info_blog{ width:15.5%; float: left;}
.left_info_blog img{min-height: 117px; width: 100%}
.right_info_blog{ float: left; width: 82.87%; padding-left: 24px;}
.b_learn_more{color: #0767d3;font-family: 'roboto'; font-weight: 400;font-size: 12px;text-transform: uppercase;margin-top: 5px;display: inline-block;  line-height: 12px;}
.blogs_by_author .author_info{ margin-bottom: 40px; width: 89.74%; float: left;}
.right_info_blog h2{margin: auto;}
.right_info_blog h2{ font-family: 'roboto'; font-size: 22px; font-weight: 700; color: #404040;}
.right_side_percntge{margin-top:32px;float: right; width: 89px; height: 89px;text-align: center;line-height: 89px;color: #fff;font-size: 29px; font-weight: 500; font-family: 'roboto'; border-radius: 50%; box-shadow: 0px 5px 9px 1px rgba(80,80,80,0.1);}
.bg_red{background: url(../../../assets/images/icons/red.jpg) left repeat-x;}
.bg_orange{background: url(../../../assets/images/icons/orange.jpg) left repeat-x;}
.bg_yellow{background: url(../../../assets/images/icons/yellow.jpg) left repeat-x;}
.bg_green{background: url(../../../assets/images/icons/green.jpg) left repeat-x;}
.pro_box{margin-top: 80px;}
.blogs_by_author .no_blogs{ float: none; width:100%;min-height:300px; display: inline-block}
.blogs_by_author{min-height: 352px;}


@media (max-width:991px) {
.right_side_percntge{width: 50px;height: 50px;line-height: 50px;font-size: 21px;}
.right_info_blog p{padding-right: 0;}
.blogs_by_author h2{margin-top: 0;}
.user_box .user_name{padding: 0px 0 0;}
.user_name label {margin: 3px 0;}
.box_position,.user_box  .user_img { margin: 0 auto; float: none;}
 
}
@media (max-width:768px) {
.pro_box{margin-top: 30px;}
.blogs_by_author  .author_info,.left_info_blog{    width: 100%;}
.right_info_blog{ margin-top: 20px;   width: 100%;padding-left: 0;}
.right_side_percntge{margin-top: -100px;    margin-right: 10px;font-size: 16px;}
.author_info{padding-left:20px;}

}
@media (max-width:640px) {
.b_learn_more{margin-top: 25px;}
}



