<section class="banner_inner">
    <img src="/assets/images/about_banner.jpg" alt="" class="d-none  d-sm-block">   
    <img src="assets/images/career/about-banner.jpg" alt="" class="d-block  d-sm-none">
</section>
	
<section class="mid_cont"><div class="container">

<div class="abt_top">
<h1>ABOUT ANALYTICS STEPS</h1>

<h2>When today’s technology preaches about the coming tomorrow!</h2>

<p>In the digital era, the world is completely full of invention and its consequence, which gets the exact trace if analytics is used purposely. So with the idea to provide an accessible, informative and exclusive analytical content to the maximum extent, Analytics Steps is founded.
        <strong>Analytics Steps</strong>, the epic platform is providing analytical rich content and focuses on solitary growth exclusively with the vision to empower users full of information in technical and non-technical business issues and to explore, visualize and communicate with industry experts in analytics.
</p>

<p>We are end-to-end excellent and highly enumerated technological space to explore feasible and achievable analytical content. We provide on-demand exclusive blogs, services, and analytical rich content to significant leverage. Our mission is to augment significantly in the blogging industry, analytical content marketing, and personalization of profiles. We have a highly focused, skilled and experienced team from the foremost institution in India. Our efficiency accomplishes users with full of strategic and inspirational enthusiasm.
</p>

<p>We can be geographically cited and navigated at Noida Sector-2 (Uttar Pradesh), India. You can contact us at <a [href]='emailstring'>info@analyticssteps.com</a> for any further details.</p>
        
</div>
<!--  start Team    -->



<div class="team_set">
<h3>OUR TEAM</h3>
    <div class="team_box">
        <div class="team_left col-lg-2 col-sm-12 w-168 "><div class="team_img"> <img src="/assets/images/icons/dinesh.jpg" alt=""> </div> </div>
        <div class="team_ri col-lg-10 col-sm-12">
            <p>Founder & CEO of Analytics Steps, an alumnus of <strong>IIT Roorkee</strong>, graduated in <strong>B.Tech and MBA</strong>, started his journey with determination and ambition in the analytical industry. His vision works with curiosity, creativity, and communication. With splendid personality and positive zeal, he stipulates his prescience with proper planning and propagation.</p>
            <h4>DINESH CHANDRA KUMAWAT</h4>
            <h5>Founder & CEO</h5>
        </div>
    </div>

    <div class="team_box">
        <div class="team_left  col-lg-2 col-sm-12"><div class="team_img"> <img src="/assets/images/icons/co-founder.jpg" alt=""> </div> </div>
        <div class="team_ri  col-lg-10 col-sm-12">
            <p>Co-founder in Analytics steps, graduated in <strong>Economics (Hons)</strong> from the <strong>University of Delhi</strong> and has diversified experience with several multinational organizations on high-impact business problems. He is a systematic, organized and dedicated entrepreneur. His goal is to optimize and synthesize resources and capital for the advancement of Analytics Steps along with the refreshed peak and unparallel approach that sees the future beyond imagination.
            </p>
            <h4>DIWAKAR BHANDARI  </h4>
            <h5>Co-Founder</h5>
        </div>
    </div>

    <div class="team_box">
        <div class="team_left  col-lg-2 col-sm-12 "><div class="team_img"> <img src="/assets/images/icons/gandhi.jpg" alt=""> </div> </div>
        <div class="team_ri  col-lg-10 col-sm-12">
            <p> Chief Data Scientist in Analytics Steps is the highly result-driven and analytical specialist who is advantageous and benevolent for decision-based supports. He has 6+ years of experience in the IT and analytical domain with industry leaders. He has a pragmatic and effective approach to different analytical problems. 
            </p>
            <h4>AYUSH GANDHI </h4>
            <h5>Chief Data Scientist</h5>
        </div>
    </div> <!--end box -->

</div>  <!-- end team layer -->

</div></section>



