
    <div class="login_box">
        <div class="logn_left"><div class="as_container">
           <a routerLink="/home" class="login_logo">
          <!-- <img src="assets/images/logo.jpg" alt="logo image missing"> -->
        </a>
        
        <h3>Reset Password</h3>
        
            <div class="login_form">
      
                <form [formGroup]="reset_password_Form" (ngSubmit)="onSubmit()">
                      
              
                              <div class="clearfix"></div>
                           <div class="row">
                           <div class="col-lg-6">    <div class="question">
                              <input type="password" required formControlName="password" />
                              <label>New Password</label>
                              </div></div>
                            </div>
                            <div class="row">
                            <div class="col-lg-6">    <div class="question">
                                <input type="password" required formControlName="confirm_password" />
                                <label>Confirm Password</label>
                            </div></div>
                            </div>
                            
                            
                              <div class="clearfix"></div>
                              <div class="row">
                              <div class="col-lg-6"><button type="submit" class="btn_login"  [disabled]="!reset_password_Form.valid || loading" ><i class="fa fa-spinner fa-spin" *ngIf="loading"></i> SUBMIT <img src="./assets/images/icons/news_arrow.png" alt="" ></button> </div>
                            </div>
                            
                              <!-- <div class="row">
                              <div class="col-lg-6"><p class="login_note" ><a routerLink="/login">Login Now</a>   
                                  <a routerLink="/register" class="float-right">Register Now</a>
                                </p></div>
                              </div> -->
                              
                            <!-- <div class="col-lg-12"><p class="login_accnt">Already have an account?  <a href="#" >Login</a></p></div> --> 
                      </form>
                
            </div>
        </div></div>

        <!-- left side end -->
        <div class="reg_right"><img src="./assets/images/right-login.jpg" alt="" > </div>
    </div>
 
 <div class="clearfix"></div>