.login_box{width: 100%;float: left;background: #fff}

.logn_left{width: 55%;float: left;}
.reg_right{width: 45%;float: left;height: /*100vh */calc(100vh - 90px);;background: #eef6ff;overflow: hidden;}
.reg_right img{width: 100%;}

.logn_left .as_container{max-width: 680px;}
.logn_left .as_container .login_logo{margin: 54px 0 202px;display: inline-block;}


 .logn_left h3{font-weight: 600;font-size: 36px;color: #314f74;font-family:'roboto';}
 .logn_left h4{font-weight: 400;font-size: 16px;color: #000000;font-family:'roboto';margin:4px 0 16px;}
 .logn_left h4 strong{color: #314f74;font-weight: 400;}
.logn_left .btn_login{background: #314f74;color: #fff;font-weight: 400;font-size: 16px;font-family:'roboto';border-radius: 25px;display: inline-block;border: none;width: 100%;padding: 14px 5px;margin:19px 0 0;}
.logn_left .btn_login img{width: 19px;margin-left: 15px;margin-top: -2px;}
.logn_left .login_note{font-weight: 400;font-size: 16px;color: #000000;font-family:'roboto';margin: 23px 0 34px;}
.logn_left .login_note a{color: #314f74}
.logn_left .btn_google_login{background: #518ef8;color: #fff;font-weight:300;font-size: 16px; font-family:'roboto';border-radius: 5px;padding:9px 30px;float: left;width: 100%;line-height: 30px;text-align: center;}
.logn_left .btn_google_login img{margin-right: 8px;}
.logn_left .login_accnt{font-weight: 400;font-size: 16px;color: #000000;font-family:'roboto';margin: 47px 0 0;}
.logn_left .login_accnt a{color: #314f74;font-weight: 600;}

/*---------------------     input text -------------------       */  
.transition, form button, form .question label, form .question input[type="text"],form .question input[type="password"] {-moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
-o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);-webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);}

form .question {position: relative;margin:13px 0; }
form .question:first-of-type {padding-top: 0;}
form .question:last-of-type {padding-bottom: 0;}
form .question label {transform-origin: left center;color: #000000;font-weight: 400;letter-spacing: 0.01em;font-size: 16px;box-sizing: border-box;
padding: 0px 15px;display: block;position: absolute;margin-top: -40px;z-index: 2;pointer-events: none;font-family:'roboto';}
form .question input[type="text"] ,form .question input[type="password"] {appearance: none;background-color: none;border: 1px solid #b2c6de;line-height: 0;
font-size: 16px;width: 100%;height: 54px;display: block;box-sizing: border-box;padding:10px 15px 0;border-radius: 5px;color: #67809f;font-weight: 400;
letter-spacing: 0.01em;position: relative;z-index: 1;font-family:'roboto';}
form .question input[type="text"]:hover ,form .question input[type="password"]:hover{border: 1px solid #314f74;}
form .question input[type="text"]:focus,form .question input[type="password"]:focus {outline: none;background: #fff;color: #67809f;padding-top:20px;}
form .question input[type="text"]:valid,form .question input[type="password"]:valid {padding-top: 20px;}

form .question input[type="text"]:focus ~ label,form .question input[type="password"]:focus ~ label {-moz-transform: translate(0, -10px);-ms-transform: translate(0, -10px);-webkit-transform: translate(0, -10px);
transform: translate(0, -10px);}
form .question input[type="text"]:valid ~ label,form .question input[type="password"]:valid ~ label {-moz-transform: translate(5px, -10px) scale(0.8);
-ms-transform: translate(5px, -10px) scale(0.8);-webkit-transform: translate(5px, -10px) scale(0.8);transform: translate(5px, -10px) scale(0.8);}
button:focus{outline: none;}

/*---------------------     input text -------------------       */  
@media (max-width:1440px) {
    .logn_left .as_container .login_logo{margin:60px 40px;}
    }

    @media (max-width:1366px) {
        .logn_left .as_container .login_logo{margin:60px 40px;}
        }

@media (max-width:1300px) {
.logn_left .as_container{    max-width: 90%;}
}

@media (max-width:768px) {
.logn_left .as_container .login_logo{margin: 54px 0 40px;}
.logn_left {width: 100%;  /*  background: #eef6ff;*/   /*min-height: 100vh;*/}
.reg_right{display: none;}
.logn_left h3{font-size:26px; margin-top:30px;}
.logn_left .as_container .login_logo{margin: 0;}
}