
    <div class="login_box">
            <div class="logn_left"><div class="as_container"> 
              <a routerLink="/home" class="login_logo">
              <!-- <img src="assets/images/logo.jpg" alt="logo image missing"> -->
            </a>
            
            <h3>Find your account</h3>
            <h4>Please enter your email</h4>
                <div class="login_form">
          
                    <form [formGroup]="forget_password_Form" (ngSubmit)="onSubmit()">
                          
                       <div class="row">
                            <div class="col-lg-6">   <div class="question">
                                    <input type="text" required formControlName="email" />
                                    <label>Email</label>
                                  </div>
                        <div  class="web_error" *ngIf="forget_password_Form.controls['email'].invalid && (forget_password_Form.controls['email'].dirty || forget_password_Form.controls['email'].touched)" >
                          <div *ngIf="forget_password_Form.controls['email'].errors.required">* Email  is required</div>                             
                          <div *ngIf="forget_password_Form.controls['email'].errors.email">* Enter valid email id</div>                             
                      </div>
                                </div>   </div>
                                  <div class="clearfix"></div>
                               
                             
                                
                                  <div class="clearfix"></div>
                                  <div class="row">
                                  <div class="col-lg-6"><button type="submit" class="btn_login"  [disabled]="!forget_password_Form.valid || loading "> SUBMIT <img src="./assets/images/icons/news_arrow.png" alt="" ><i class="fa fa-spinner fa-spin" aria-hidden="true" *ngIf="loading"></i></button> </div>
                                </div>
                                
                                  <div class="row">
                                  <div class="col-lg-6"><p class="login_note" ><a routerLink="/login">Login Now</a>    
                                     <!-- <a routerLink="/register" class="float-right">Register Now</a> -->
                                    </p>
                                  </div>
                                  </div>
                                  
                                <!-- <div class="col-lg-12"><p class="login_accnt">Already have an account?  <a href="#" >Login</a></p></div> --> 
                          </form>
                    
                </div>
            </div></div>
    
            <!-- left side end -->
            <div class="reg_right"><img src="./assets/images/right-login.jpg" alt="" > </div>
        </div>
     
     