.srch_cat_box a{color: #fff; cursor: pointer;}
@media(max-width:768px){
    .srch_cat_box a{margin-bottom: 5px;display: block;float: none;}
    .srch_cat_box h3{margin-bottom: 20px;}
    .home_banner_br_none{border: none;}
    .home_banner_br_none img{width:23px;}
}